<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgba(89, 11, 89, 0.637);">
    <div>
        <header>
            <h1 style="color: plum;
                        font-size: xxx-large;
                        font-weight: 100;">
                Colty Temple Church</h1>
                <br>
            <h2> 
                <a href="/"style=" color: gold;
                text-decoration: none;"
                >HomePage</a>
                    &nbsp;&nbsp;
                <a href="/prayer"style=" color: gold;
                text-decoration: none;"
                >Prayer Request</a>
                    &nbsp;&nbsp;
                <a href="/event"style=" color: gold;
                text-decoration: none;"
                >Events</a>
                    &nbsp;&nbsp;
                <a href="/service"style=" color: gold;
                text-decoration: none;"
                >Hours</a>
                    &nbsp;&nbsp;
                <a href="/community"style=" color: gold;
                text-decoration: none;"
                >Commuity</a>
                    &nbsp;&nbsp;
                <a href="/Contact Us"style=" color: gold;
                text-decoration: none;"
                > Contact Us</a>
            </h2>
            <br>
        </header>
        <section>
            <form action="https://formsubmit.co/levonte2228@gmail.com" 
            method="POST" style="background-color:; width: 100%;
             text-align: center; padding-top: 4%; 
            border-radius: 5%; color:gold;">
        
        <a>Fill Out This Form To Complete Prayer Request</a>
        <br><br>
    <label style="font-size: large;"> Name: 
        <br>
        <input type="text" name="name" placeholder="Enter Name Here" required
                style="width: 50%; height: 35px;border-radius: 15%; "><br><br>
    </label>
    <label style="font-size: large;"> Email:
        <br>
            <input type="email" 
                    name="email" 
                    placeholder="Enter Email Here" required
                    style="width: 50%; height: 35px;border-radius: 15%; 
            "><br><br>
    </label>
        <input type="hidden" name="_next" 
        value="https://localhost3000/thanks.html">
    <label style="font-size: large;
    "> Phone:
        <br>
        <input type="phoneNumber" 
                name="phoneNumber" 
                placeholder="Optional" 
                style="width: 50%; height: 35px;border-radius: 15%; 
        "><br><br>
    </label>
    <label style="font-size: large; border-radius: 15%;">Can We Contact You:
            <input type="checkbox" name="checkbox" ><br><br>
    </label>
    <label style="font-size: large; border-radius: 15%;
    ">Do You Curently Have A Church Home:
            <input type="checkbox" name="checkbox" ><br><br>
    </label>
    <label style="font-size: large;"> Prayer Request:
        <br>
            <input type="message" 
                placeholder="Enter A Messaage Here" 
                name="message" 
                style="width: 50%; height:100px;
                        border-radius: 15%; 
            "><br><br>
    </label>
        <button type="submit" 
            style="font-size: large; 
                border-radius: 15%;
        ">Send Request</button>
   </form>
        </section>

    </div>
</body>
</html>

<style>
    h2{
        font-family: 'Times New Roman', Times, serif;
        font-weight: 100;
        
    }
    header{
        background-image: url('https://i.imgur.com/Xsxfb3V.jpg');
    }
    div{
        background-repeat: no-repeat;
        text-align: center;
        background-size: 100%;
        width: 100%;
        text-align: center;
    }
  
</style>