<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div>
<body style="background-color: rgba(89, 11, 89, 0.637)">
    <header class="sticky" style="position: fixed; top:0%; width: 100%; padding-top: 0%;">
        <h1>
            <a style="color: gold;
                        font-size: xxx-large;
                        font-weight: 100;">
                COLTY &nbsp; TEMPLE 
                <br>
                 <a style="font-size: x-Large; color: gold;">New Church Of Christ</a>
                 <br><br>
            </h1>
                <address style="color: gold; font-size:medium;">
                    2701 Alfred Street
                    <br>
                    Savannah, Ga 31408
                    <br>
                    United States
                </address>
            <h2> 
                <a href="/"style=" color: white;
                text-decoration: none;"
                >HomePage</a>
                    &nbsp;&nbsp;
                <a href="/prayer"style=" color: white;
                text-decoration: none;"
                >Prayer Request</a>
                &nbsp;&nbsp;
                <a href="/event"style=" color: white;
                text-decoration: none;"
                >Events</a>
                    &nbsp;&nbsp;
                <a href="/service"style=" color: white;
                text-decoration: none;"
                >Hours</a>
                    &nbsp;&nbsp;
                <a href="/community"style=" color: white;
                text-decoration: none;"
                >Commuity</a>
                &nbsp;&nbsp;
                <a href="/Contact Us"style=" color: white;
                text-decoration: none;"
                > Contact Us</a>
            </h2>
            <br>
        </header>

        <h3 class="content" style="text-align: center; padding-top:30%; font-style:italic; 
                    font: weight 100px; color: white;">
        <a style="font-size: 180%; color: gold;"> Come And Join Us Here At Colty Temple Family</a>
        <br><br>
        <a style="font-size: 130%;">Service Is Held At Our Home Or Via Teleconference</a>
        </h3>
        
        <section style="text-align: center; font-style:italic; 
        font-weight: 100; font-size: xx-large; color: white;">
        <h4> Sunday Worship
            
            10:00 am ET
        </h4>
        <a> 
            In Consideration Of Covid-19:
            <br><br>
            We are home every 2nd and 4th Sunday in the month.
            <br>
            We come together in worship and hear the word of god.
            <br>
            After service we enjoy a fulfilling meal from our very own Kitchen.
        </a>
        <h4> Tuesday Bible Study
            
            7:30 pm ET
        </h4>
        <a> 
            In Consideration Of Covid-19:
            <br><br>
            Bible Study is and will be hosted via teleconference.
            <br>
            We breifly come together to recharge and discuss gods word.
            <br>
            Here we come gather a deeper understanding of the word. 
        </a>
        <h4> Wednesday Bible Study
            
            7:30 pm ET
        </h4>
            <a> 
                In Consideration Of Covid-19:
                <br><br>
                Bible Study is and will be hosted via teleconference.
                <br>
                We breifly come together to recharge and discuss gods word.
                <br>
                Here we come gather a deeper understanding of the word. 
            </a>
        
        

        </section>

    </div>
</body>
</html>

<style>
    h4{
        color: gold;
    }
    h2{
        font-family: 'Times New Roman', Times, serif;
        font-weight: 100;
        color: gold;
        
    }
    header{
        background-image: url('https://i.imgur.com/Xsxfb3V.jpg');
    }
    div{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        width: 100%;
        text-align: center;
    }
</style>